<html>
  <head>
    <title> new Project</title>
    <link rel="stylesheet" href="CSS/style.css" />
  </head>
  <body>

    <h1 class="headerTitle"> {{title}} PAGE </h1>

    <div class="header">
      <a href="/">HOME</a>
      <a href="/service">SERVICE</a>
      <a href="/teams">TEAMS</a>
    </div>

  </body>
</html>